/target
**/.DS_Store
/data/cie-raw/
/data/spectral-io/cie/
**/tmp
/data/spectrashop/**
!/data/spectrashop/monitors/
!/data/spectrashop/monitors/Apple 13 inch.txt
!/data/spectrashop/inks/
!/data/spectrashop/inks/Coors thermochromic ink.txt
!/data/spectrashop/charts/
!/data/spectrashop/charts/ISCC-NBS Centroid Charts (5 samples).txt
!/data/spectrashop/candies/
!/data/spectrashop/candies/Black Ace Licorice.txt
!/data/spectrashop/ceramics/
!/data/spectrashop/ceramics/Wallace China.txt
